body {
  font-size: 16px;
  background: lavender;
  color: blue;
}

* {
  font-family: 'Oswald', sans-serif;
}

#web-title {
  text-align: right;
  letter-spacing: 0.8rem;
}

#title {
  text-align: center;
}

.heading {
  color: #7462E0;
  font-family: 'Lobster', curvive;
}

.form-container {
  background: #f0e6fa;
  width: 95%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 10px #cfcfe1;
}

#description {
  margin-bottom: 50px;
  line-height: 2rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px 50px;
  padding: 5px;
}

.label {
  flex-basis: 70px;
}

span {
  color: red;
}

label {
  margin-right: 20px;
  padding: 10px;
}

input, select, textarea {
  flex: 1;
  border-radius: 10px;
  padding: 10px;
}

textarea {
  flex-basis: 400px;
}

.instruction {
  margin-left: 65px;
  margin-top: 40px;
}

.rating-container {
  margin-left: 65px;
}

.rating-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.rating-selected {
  background: gold;
}

.button-div {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px;
  border-radius: 10px;
  background: blue;
  color: gold;
}

.author {
  font-size: 0.7rem;
}
